.TopBar {
  background-color: var(--primary-dark-color);
  width: auto;
  height: fit-content;
}
.TopBar header {
  display: inline-block;
  text-align: left;
  color: var(--inverse-font-color);
}
.TopBar .searchbar {
  width: auto;
}
.TopBar .hamburger {
  display: inline-block;
}
.TopBar .hamburger > div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.TopBar .avatar {
  text-align: right;
  display:flex;
  align-content: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 350px) {
  .TopBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .TopBar header {
    /* display: none !important */
    font-size: 120%;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
}
@media only screen and (min-width: 400px) {
  .TopBar {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    align-items: center;
    padding: 10px 30px;
  }
  .TopBar header {
    
  }
}
