.DisplayField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0px 30px;
}
.DisplayField > .value {
  align-content: right;
  border: 1px solid lightgray;
  width: 80%;
  word-wrap: break-word;
  margin: 5px 5px;
  font-size: 20px;
  padding: 5px;
}

.textfield {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
}
.DisplayField > .label,
.DisplayField .textfield > .label {
  font-weight: bold;
}

@media only screen and (min-width: 500px) {
  .DisplayField {
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
  }
  .DisplayField > .textfield {
    align-content: right;
    width: 80%;
    margin: 0px 0px 0px 20px;
  }
}
